In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

import pylab as plt
import seaborn as sns

tiburones_ori = pd.read_csv("../data/attacks.csv", encoding= "ISO-8859-1")

tiburones = tiburones_ori.copy()

tiburones.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [2]:
tiburones.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [3]:
tiburones.shape

(25723, 24)

In [4]:
tiburones.info

<bound method DataFrame.info of       Case Number         Date    Year        Type    Country  \
0      2018.06.25  25-Jun-2018  2018.0     Boating        USA
1      2018.06.18  18-Jun-2018  2018.0  Unprovoked        USA
2      2018.06.09  09-Jun-2018  2018.0     Invalid        USA
3      2018.06.08  08-Jun-2018  2018.0  Unprovoked  AUSTRALIA
4      2018.06.04  04-Jun-2018  2018.0    Provoked     MEXICO
...           ...          ...     ...         ...        ...
25718         NaN          NaN     NaN         NaN        NaN
25719         NaN          NaN     NaN         NaN        NaN
25720         NaN          NaN     NaN         NaN        NaN
25721         NaN          NaN     NaN         NaN        NaN
25722          xx          NaN     NaN         NaN        NaN

                  Area                        Location     Activity  \
0           California     Oceanside, San Diego County     Paddling
1              Georgia  St. Simon Island, Glynn County     Standing
2               Hawaii                    Habush, Oahu      Surfing
3      New South Wales              Arrawarra Headland      Surfing
4               Colima                        La Ticla  Free diving
...                ...                             ...          ...
25718              NaN                             NaN          NaN
25719              NaN                             NaN          NaN
25720              NaN                             NaN          NaN
25721              NaN                             NaN          NaN
25722              NaN                             NaN          NaN

                  Name Sex   Age  \
0          Julie Wolfe    F   57
1      AdysonÂ McNeely     F   11
2          John Denges    M   48
3                 male    M  NaN
4       Gustavo Ramos     M  NaN
...                ...  ...  ...
25718              NaN  NaN  NaN
25719              NaN  NaN  NaN
25720              NaN  NaN  NaN
25721              NaN  NaN  NaN
25722              NaN  NaN  NaN

                                                  Injury Fatal (Y/N)  \
0      No injury to occupant, outrigger canoe and pad...           N
1                             Minor injury to left thigh           N
2           Injury to left lower leg from surfboard skeg           N
3                              Minor injury to lower leg           N
4      Lacerations to leg & hand shark PROVOKED INCIDENT           N
...                                                  ...         ...
25718                                                NaN         NaN
25719                                                NaN         NaN
25720                                                NaN         NaN
25721                                                NaN         NaN
25722                                                NaN         NaN

                Time         Species           Investigator or Source  \
0              18h00      White shark                R. Collier, GSAF
1      14h00  -15h00              NaN  K.McMurray, TrackingSharks.com
2              07h45              NaN  K.McMurray, TrackingSharks.com
3                NaN        2 m shark                  B. Myatt, GSAF
4                NaN  Tiger shark, 3m                       A .Kipper
...              ...              ...                             ...
25718            NaN              NaN                             NaN
25719            NaN              NaN                             NaN
25720            NaN              NaN                             NaN
25721            NaN              NaN                             NaN
25722            NaN              NaN                             NaN

                            pdf  \
0          2018.06.25-Wolfe.pdf
1        2018.06.18-McNeely.pdf
2         2018.06.09-Denges.pdf
3      2018.06.08-Arrawarra.pdf
4          2018.06.04-Ramos.pdf
...                         ...
25718                       NaN
25719                       NaN
25720                       NaN
25721                       NaN
25722                       NaN

                                            href formula  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...
1      http://sharkattackfile.net/spreadsheets/pdf_di...
2      http://sharkattackfile.net/spreadsheets/pdf_di...
3      http://sharkattackfile.net/spreadsheets/pdf_di...
4      http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                  ...
25718                                                NaN
25719                                                NaN
25720                                                NaN
25721                                                NaN
25722                                                NaN

                                                    href Case Number.1  \
0      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4      http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04
...                                                  ...           ...
25718                                                NaN           NaN
25719                                                NaN           NaN
25720                                                NaN           NaN
25721                                                NaN           NaN
25722                                                NaN           NaN

      Case Number.2  original order Unnamed: 22 Unnamed: 23
0        2018.06.25          6303.0         NaN         NaN
1        2018.06.18          6302.0         NaN         NaN
2        2018.06.09          6301.0         NaN         NaN
3        2018.06.08          6300.0         NaN         NaN
4        2018.06.04          6299.0         NaN         NaN
...             ...             ...         ...         ...
25718           NaN             NaN         NaN         NaN
25719           NaN             NaN         NaN         NaN
25720           NaN             NaN         NaN         NaN
25721           NaN             NaN         NaN         NaN
25722           NaN             NaN         NaN         NaN

[25723 rows x 24 columns]>

In [5]:
tiburones.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [6]:
tiburones["Case Number"]

0        2018.06.25
1        2018.06.18
2        2018.06.09
3        2018.06.08
4        2018.06.04
            ...
25718           NaN
25719           NaN
25720           NaN
25721           NaN
25722            xx
Name: Case Number, Length: 25723, dtype: object

In [7]:
tiburones.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [8]:
tiburones.columns = tiburones.columns.str.strip()
tiburones.columns = tiburones.columns.str.lower()
tiburones["species"]


#len(tiburones["Case Number"].

0            White shark
1                    NaN
2                    NaN
3              2 m shark
4        Tiger shark, 3m
              ...
25718                NaN
25719                NaN
25720                NaN
25721                NaN
25722                NaN
Name: species, Length: 25723, dtype: object

In [9]:
tiburones = tiburones.dropna(how="all")

In [10]:
tiburones_ori.shape, tiburones.shape

((25723, 24), (8703, 24))

In [11]:
tiburones.head(2)

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

In [12]:
tiburones.year.unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [13]:
tiburones.year[tiburones.year < 501].value_counts()

0.0      125
500.0      1
77.0       1
5.0        1
Name: year, dtype: int64

In [14]:
tiburones = tiburones.drop(tiburones[(tiburones.year < 1900)].index)

In [15]:
tiburones.year[tiburones.year < 1900].value_counts() ,tiburones.year.unique()

(Series([], Name: year, dtype: int64),
 array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
        2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
        2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
        1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
        1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
        1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
        1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
        1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
        1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
        1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
        1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
        1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
        1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
        1902., 1901., 1900.]))

In [16]:
#tiburones.year[tiburones.year == nan].value_counts()
tiburones.info(memory_usage="Deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7965 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case number             7964 non-null   object
 1   date                    5564 non-null   object
 2   year                    5562 non-null   float64
 3   type                    5561 non-null   object
 4   country                 5540 non-null   object
 5   area                    5251 non-null   object
 6   location                5186 non-null   object
 7   activity                5129 non-null   object
 8   name                    5397 non-null   object
 9   sex                     5063 non-null   object
 10  age                     3380 non-null   object
 11  injury                  5545 non-null   object
 12  fatal (y/n)             5099 non-null   object
 13  time                    2850 non-null   object
 14  species                 3281 non-null   object
 15  investigator or source  5549 non-null   object
 16  pdf                     5564 non-null   object
 17  href formula            5563 non-null   object
 18  href                    5564 non-null   object
 19  case number.1           5564 non-null   object
 20  case number.2           5564 non-null   object
 21  original order          5571 non-null   float64
 22  unnamed: 22             1 non-null      object
 23  unnamed: 23             1 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.5+ MB

In [17]:
len(tiburones.country.unique())
#tiburones["country"].str.lower()

179

In [18]:
tiburones["country"] = tiburones["country"].str.lower()

In [19]:
len(tiburones.country.unique()), tiburones.country.unique()

(176,
 array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
        'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
        'ecuador', 'malaysia', 'libya', nan, 'cuba', 'mauritius',
        'new zealand', 'spain', 'samoa', 'solomon islands', 'japan',
        'egypt', 'st helena, british overseas territory', 'comoros',
        'reunion', 'french polynesia', 'united kingdom',
        'united arab emirates', 'philippines', 'indonesia', 'china',
        'columbia', 'cape verde', 'fiji', 'dominican republic',
        'cayman islands', 'aruba', 'mozambique', 'puerto rico', 'italy',
        'atlantic ocean', 'greece', 'st. martin', 'france',
        'papua new guinea', 'trinidad & tobago', 'kiribati', 'israel',
        'diego garcia', 'taiwan', 'jamaica', 'palestinian territories',
        'guam', 'seychelles', 'belize', 'nigeria', 'tonga', 'scotland',
        'canada', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
        'russia', 'turks & caicos', 'united arab emirates (uae)', 'azores',
        'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
        'somalia', 'nevis', 'british virgin islands', 'norway', 'senegal',
        'yemen', 'gulf of aden', 'sierra leone', 'st. maartin',
        'grand cayman', 'liberia', 'vanuatu', 'mexico ', 'honduras',
        'venezuela', 'sri lanka', ' tonga', 'uruguay', 'india',
        'micronesia', 'caribbean sea', 'okinawa', 'tanzania',
        'marshall islands', 'egypt / israel', 'northern arabian sea',
        'hong kong', 'el salvador', 'angola', 'bermuda', 'montenegro',
        'iran', 'tunisia', 'namibia', 'north atlantic ocean', 'portugal',
        'south china sea', 'bangladesh', 'palau', 'western samoa',
        'pacific ocean ', 'british isles', 'grenada', 'iraq', 'turkey',
        'singapore', 'new britain', 'sudan', 'johnston island',
        'south pacific ocean', 'new guinea', 'red sea',
        'north pacific ocean', 'federated states of micronesia',
        'mid atlantic ocean', 'admiralty islands', 'british west indies',
        'south atlantic ocean', 'persian gulf', 'red sea / indian ocean',
        'pacific ocean', 'north sea', 'nicaragua ', 'maldive islands',
        'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
        'north atlantic ocean ', 'the balkans', 'sudan?', 'argentina',
        'martinique', 'indian ocean', 'guatemala', 'netherlands antilles',
        'northern mariana islands', 'iran / iraq', 'java', ' philippines',
        'nicaragua', 'central pacific', 'solomon islands / vanuatu',
        'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
        'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
        'monaco', 'guyana', 'haiti', 'san domingo', 'ireland', 'kuwait',
        'yemen ', 'reunion island', 'falkland islands', 'crete', 'cyprus'],
       dtype=object))

In [20]:
#nulos_casen = tiburones[(tiburones.dtypes == float).all(1)]

In [21]:
tiburones.date.str.replace("Reported ", "")

0        25-Jun-2018
1        18-Jun-2018
2        09-Jun-2018
3        08-Jun-2018
4        04-Jun-2018
            ...
8698             NaN
8699             NaN
8700             NaN
8701             NaN
25722            NaN
Name: date, Length: 7965, dtype: object

In [24]:
def limpiar(string):
    try:
        x = string.replace('Reported ', '')
        x = x.strip().replace('.', ' ').replace('-', ' ')
        return x.split()
    except: return [np.nan, np.nan, np.nan]

#date_col=[limpiar(tiburones.date[e]) for e in tiburones.date]
date_col=[]
for e in tiburones.date:
    date_col.append(limpiar(e))

date_col[0:70]

[['25', 'Jun', '2018'],
 ['18', 'Jun', '2018'],
 ['09', 'Jun', '2018'],
 ['08', 'Jun', '2018'],
 ['04', 'Jun', '2018'],
 ['03', 'Jun', '2018'],
 ['03', 'Jun', '2018'],
 ['27', 'May', '2018'],
 ['26', 'May', '2018'],
 ['26', 'May', '2018'],
 ['24', 'May', '2018'],
 ['21', 'May', '2018'],
 ['13', 'May', '2018'],
 ['13', 'May', '2018'],
 ['May', '2018'],
 ['12', 'May', '2018'],
 ['09', 'May', '2018'],
 ['30', 'Apr', '2018'],
 ['28', 'Apr', '2018'],
 ['28', 'Apr', '2018'],
 ['25', 'Apr', '2018'],
 ['25', 'Apr', '2018'],
 ['24', 'Apr', '2018'],
 ['23', 'Apr', '2018'],
 ['22', 'Apr', '2018'],
 ['19', 'Apr', '2018'],
 ['15', 'Apr', '2018'],
 ['15', 'Apr', '2018'],
 ['15', 'Apr', '2018'],
 ['15', 'Apr', '2018'],
 ['14', 'Apr', '2018'],
 ['10', 'Apr', '2018'],
 ['09', 'Apr', '2018'],
 ['05', 'Apr', '2018'],
 ['03', 'Apr', '2018'],
 ['31', 'Mar', '2018'],
 ['14', 'Mar', '2018'],
 ['9', 'Mar', '2018'],
 ['9', 'Mar', '2018'],
 ['24', 'Feb', '2018'],
 ['23', 'Feb', '2018'],
 ['18', 'Feb', '2018'],
 ['15', 'Feb', '2018'],
 ['14', 'Feb', '2018'],
 ['11', 'Feb', '2018'],
 ['03', 'Feb', '2018'],
 ['01', 'Feb', '2018'],
 ['28', 'Jan', '2018'],
 ['21', 'Jan', '2018'],
 ['14', 'Jan', '2018'],
 ['13', 'Jan', '2018'],
 ['12', 'Jan', '2018'],
 ['05', 'Jan', '2018'],
 ['31', 'Dec', '2017'],
 ['30', 'Dec', '2017'],
 ['21', 'Dec', '2017'],
 ['09', 'Dec', '2017'],
 ['30', 'Nov', '2017'],
 ['30', 'Nov', '2017'],
 ['25', 'Nov', '2017'],
 ['24', 'Nov', '2017'],
 ['18', 'Nov', '2017'],
 ['13', 'Nov', '2017'],
 ['13', 'Nov', '2017'],
 ['04', 'Nov', '2017'],
 ['31', 'Oct', '2017'],
 ['28', 'Oct', '2017'],
 ['26', 'Oct', '2017'],
 ['23', 'Oct', '2017'],
 ['23', 'Oct', '2017']]